.predictions-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.predictions-table th, .predictions-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.predictions-table th {
  background-color: #007bff;
  color: rgb(238, 233, 233);
}

.predictions-table tr:nth-child(even) {
  background-color: #bd1f1f;
}
